.post-details-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 600px;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  overflow: hidden;
  border: 2px rgba(96.70, 96.70, 96.70, 0.30) solid;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.post-details-header {
  background: #78ABF9;
  padding: 12px 24px;
}

.post-details-title {
  flex: 1;
  height: 44px;
  display: flex;
  align-items: center;
}

.post-details-titleInput {
  width: 70%;
  border-radius: 4px;
  overflow: hidden;
}

.post-details-content {
  flex: 1;
  padding: 10px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  border: 1px #D1D1D1 solid;
  display: flex;
  flex-direction: column;
}
