.event_all {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event_title {
    width: 584px;
    height: 100px;
    color: #333;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.5;
    word-wrap: break-word;
    margin-bottom: 1.5rem; /* 여백 조정 */
    text-align: center; /* 가운데 정렬 */
  }
  
  /* 이벤트 리스트 */
  .event_list {
    width: 946px;
    flex: 1 1 0;
    padding: 0.4375rem 1.875rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3.0625rem;
  }
  
  /* 이벤트 아이템 */
  .event_item {
    width: 27.625rem;
    height: 13.6875rem;
    border: 1px solid #ddd;
    border-radius: 0.3125rem;
    padding: 1.25rem;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .event_item:hover {
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  }
  
  /* 이벤트 텍스트 */
  .event_txt {
    font-size: 1.125rem;
    font-weight: bold;
  }
  
/* 이벤트 등록하기 */
.event-post {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
}
.event-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.event-content {
    text-align: center;
}

.event-content button {
    margin: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.event-content button:hover {
    background-color: #0056b3;
}

.event-content h2 {
    margin-bottom: 10px;
}

.event-content p {
    margin-bottom: 5px;
}

.event-content img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
