/* 전체 마이페이지 영역 스타일 */
.mypage_all {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 마이페이지 영역 스타일 */
.mypage {
  width: 100%;
  height: 85.60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10.60px;
}

/* 마이페이지 리스트 스타일 */
.mypage_list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

/* 마이페이지 컨테이너 스타일 */
.mypage_container {
  position: relative;
  display: flex;
}

/* 첫 번째 마이페이지 리스트 스타일 */
.mypage_list1 {
  width: 20%;
  height: 400px;
  background: rgba(97, 124, 194, 0.6);
  border-radius: 5%;
  border: 1px #DEDEDE solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* 첫 번째 마이페이지 리스트 이미지 스타일 */
.mypage_list1 .mypage_image1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}


.mypage_list1 .mypage_image1 img {
  width: 100%;
  height: auto;
}

/* 첫 번째 마이페이지 리스트 이름 스타일 */
.mypage_list1 .mypage_name1 {
  font-weight: bold;
  margin-top: 10%;
  line-height: 20;
}

/* 추가: 회원정보 수정 버튼 스타일 */
.mypage_edit_button {
  position: absolute;
  top: 80%; /* 원하는 위치에 맞게 조정 */
  left: 50%; /* 가운데 정렬 */
  transform: translate(-50%, -50%); /* 수평, 수직 가운데 정렬 */
  background-color: #fff;
  color: #617CC2;
  border: 2px solid #808080;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
}

.message-content{
  width: 1000%;
}

.mypage_list2,
.mypage_list4 {
  width: 10%;
  background: #ECECEC;
  border-radius: 10px;
  border: 1px solid #DEDEDE;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; /* 추가: 상대적 위치 설정 */
}

.mypage_name2 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
}

/* 네 번째 마이페이지 리스트 이름 스타일 */
.mypage_name4 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 20px;
}

.mypage_image2 img {
  width: 100px;
  height: auto;
  margin-top: 10px;
}

/* 네 번째 마이페이지 리스트 이미지 스타일 */
.mypage_image4 img {
  width: 100px;
  height: auto;
  margin-top: 10px;
}

/* 두 번째 및 네 번째 마이페이지 리스트 내부 버튼 스타일 */
.mypage_list2 button,
.mypage_list4 button {
  background-color: #617CC2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  width: 80%;
  box-sizing: border-box;
}



/* 두 번째 및 네 번째 마이페이지 리스트 내부 버튼 호버 스타일 */
.mypage_list2 button:hover,
.mypage_list4 button:hover {
  background-color: #415D87;
}

/* 마이페이지 문의 버튼 스타일 */
.mypage_inquiry_button {
  background-color: #fff;
  color: #617CC2;
  border: 2px solid #808080;
  padding: 1%;
  border-radius: 5%;
  cursor: pointer;
  margin-left: 20%;
  position: fixed;
  font-weight: bold;
}

/* 마이페이지 탈퇴 버튼 스타일 */
.mypage_withdraw_button {
  background-color: #fff;
  color: #FF0000;
  border: 2px solid #808080;
  padding: 1%;
  border-radius: 5%;
  cursor: pointer;
  margin-left: 12%;
  position: fixed;
  font-weight: bold;
}

/* 모달 내용 스타일 */
.modal-content {
  width: 100%;
  max-width: 850px;
  height: 100%;
  max-height: 1700px;
  overflow-y: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: -60%;
  align-items: flex-start; /* 변경: 왼쪽 정렬로 수정 */
  padding-left: 20px; /* 변경: 왼쪽 여백 추가 */
  border: 2px solid #808080; /* 회색 테두리 추가 */
  border-radius: 10px; /* 테두리의 모서리를 둥글게 만듭니다. */
  padding: 15px; /* 테두리 내부 여백 추가 */
  background-color: #fff;
}



/* 모달 내용의 입력 요소 스타일 */
.modal-content input {
  width: 100%;
  padding: 10px;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  box-sizing: border-box;
}

/* 모달 내용의 버튼 스타일 */
.modal-content button {
  background-color: #617CC2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
}

.your-updated-class-name {
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 20%;
}

/* 우편번호 입력 영역 스타일 */
.postal-code {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

/* 우편번호 입력창 스타일 */
.postal-code input {
  width: 100%;
  padding: 10px;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  box-sizing: border-box;
}

/* 우편번호 버튼 스타일 */
.postal-code button {
  background-color: #617CC2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

/* 회원탈퇴 안내 메시지 스타일 */
.withdraw-prompt {
  color: #FF0000;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

/* 편집 모달 스타일 */
.edit-modal {
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
}

/* 커스텀 모달 스타일 */
.custom-modal {
  background-color: #fff;
}

.button-container {
  display: inline-block;
  width: 1%;
  margin-top: 10%;
}


/* 두 번째 및 네 번째 마이페이지 리스트 호버 시 이미지 스타일 */
.mypage_image2:hover img,
.mypage_image4:hover img {
  transform: scale(1.1); /* 마우스 호버 시 이미지 크기를 약간 키웁니다 */
}

.direction_SwitchImage {
  width: 10%; /* 이미지의 너비를 조절합니다. */
  height: 100%; /* 높이를 자동으로 조절하여 비율 유지합니다. */
}