/* 전체 마이페이지 영역 스타일 */
.mypage_all {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 마이페이지 영역 스타일 */
.mypage {
  width: 100%;
  height: 85.60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10.60px;
}

/* 마이페이지 리스트 스타일 */
.mypage_list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

/* 마이페이지 컨테이너 스타일 */
.mypage_container {
  position: relative;
  display: flex;
}

/* 첫 번째 마이페이지 리스트 스타일 */
.mypage_list1 {
  width: 244px;
  height: auto;
  padding: 50px;
  background: rgba(97, 124, 194, 0.6);
  border-radius: 10px;
  border: 1px #DEDEDE solid;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 35px;
  margin-right: 20px;
  position: relative;
  left: -600px;
  margin-top: 85px;
}

/* 첫 번째 마이페이지 리스트 이미지 스타일 */
.mypage_list1 .mypage_image1 {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.mypage_list1 .mypage_image1 img {
  width: 240px;
  height: auto;
}

/* 첫 번째 마이페이지 리스트 이름 스타일 */
.mypage_list1 .mypage_name1 {
  font-weight: bold;
  margin-top: 150px;
  line-height: 20;
}

/* 추가: 회원정보 수정 버튼 스타일 */
.mypage_list1 .mypage_name1_dl button {
  background-color: #fff;
  color: #617CC2;
  border: 2px solid #808080;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 20px;
  font-weight: bold;
}

/* 두 번째 마이페이지 리스트 스타일 */
.mypage_list2 {
  font-weight: bold;
  font-size: 32px;
  width: 200px;
  height: 200px;
  padding: 50px;
  background: #ECECEC;
  border-radius: 10px;
  border: 1px #DEDEDE solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  position: absolute;
  transform: translate(-50%, -50%) translateX(-10%);
  margin-top: 750px;
}

/* 세 번째 마이페이지 리스트 스타일 */
.mypage_list3 {
  font-weight: bold;
  font-size: 32px;
  width: 200px;
  height: 200px;
  padding: 50px;
  background: #ECECEC;
  border-radius: 10px;
  border: 1px #DEDEDE solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  position: absolute;
  margin-top: 600px;
  left: 51%;
}

/* 세 번째 마이페이지 리스트 스타일 */
.mypage_list3 span {
  color: red;
}

/* 네 번째 마이페이지 리스트 스타일 */
.mypage_list4 {
  width: 424px;
  height: 300px;
  padding: 50px;
  background: #004EA2;
  border-radius: 10px;
  border: 1px #DEDEDE solid;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-top: -680px;
}

/* 네 번째 마이페이지 리스트 이름 스타일 */
.mypage_name4 {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 10px;
  margin-top: -10px;
}

/* 네 번째 마이페이지 리스트 이름 스타일 */
.mypage_name4_dl {
  font-weight: bold;
  font-size: 60px;
  text-align: center;
  margin-top: 20px;
}

/* 네 번째 마이페이지 리스트 강조 스타일 */
.mypage_name4_dl strong {
  font-weight: bold;
  color: white;
}

/* 네 번째 마이페이지 리스트 이미지 스타일 */
.mypage_image4 img {
  width: 100px;
  height: auto;
  margin-top: 10px;
}

/* 마이페이지 문의 버튼 스타일 */
.mypage_inquiry_button {
  background-color: #fff;
  color: #617CC2;
  border: 2px solid #808080;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 500px;
  margin-left: 600px;
  position: fixed;
  font-weight: bold;
}

/* 마이페이지 탈퇴 버튼 스타일 */
.mypage_withdraw_button {
  background-color: #fff;
  color: #FF0000;
  border: 2px solid #808080;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 500px;
  margin-left: -900px;
  position: fixed;
  font-weight: bold;
}

/* 모달 내용 스타일 */
.modal-content {
  width: 100%;
  max-width: 850px;
  height: 100%;
  max-height: 1700px;
  overflow-y: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: -700px;
  align-items: flex-start; /* 변경: 왼쪽 정렬로 수정 */
  padding-left: 20px; /* 변경: 왼쪽 여백 추가 */
  border: 2px solid #808080; /* 회색 테두리 추가 */
  border-radius: 10px; /* 테두리의 모서리를 둥글게 만듭니다. */
  padding: 15px; /* 테두리 내부 여백 추가 */
  background-color: #fff;
}

/* 모달 내용의 입력 요소 스타일 */
.modal-content input {
  width: 100%;
  padding: 10px;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  box-sizing: border-box;
}

/* 모달 내용의 버튼 스타일 */
.modal-content button {
  background-color: #617CC2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
}

/* 우편번호 입력 영역 스타일 */
.postal-code {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

/* 우편번호 입력창 스타일 */
.postal-code input {
  width: 100%;
  padding: 10px;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  box-sizing: border-box;
}

/* 우편번호 버튼 스타일 */
.postal-code button {
  background-color: #617CC2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

/* 회원탈퇴 안내 메시지 스타일 */
.withdraw-prompt {
  color: #FF0000;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

/* 편집 모달 스타일 */
.edit-modal {
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

/* 커스텀 모달 스타일 */
.custom-modal {
  background-color: #fff;
}
