.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  }
  
  .pagination-button {
  background-color: white;
  border: 1px solid #1d2c90;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  .pagination-button:hover {
  background-color: #1d2c90;
  color: white;
  }
  
  .pagination-button.active {
  background-color: #1d2c90;
  color: white;
  }