
.all {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* 적절한 여백 설정 */
    position: relative;
}

.product {
    padding: 20px; /* 적절한 여백 설정 */
    align-items: center;
    gap: 20px; /* 적절한 간격 설정 */
    display: inline-flex;
    position: relative;
    justify-content: center;
   
    overflow: visible;
}

.productImg {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 17px;
    display: inline-flex;
    position: relative;
    
    max-width: 433px;
    max-height: 433px;
   

}
.productImg img{
    width: 100%;
    height: auto; /* 높이를 자동으로 조절하여 비율 유지 */
    max-width: 433px; 
    max-height: 433px; 
}

.description {
    position: center;

}

.descripText {
    color: #272727;
    font-weight: 500;
    text-align: center;
    line-height: 25.6px;
    position: center;
    font-size: 12px;

}

.image {
    background-color: #f7f8fa;
    height: 433px;
    width: 506px;
}

.productInfo {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
}

.productInfo1 {
    align-items: flex-start;
    display: inline-flex;

    flex-direction: column;
    gap: 16px;
    position: relative;
}

.productInfo2 {

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    display: inline-flex;
}

.productName {
    color: #000000;
    font-family: var(--web-h5-font-family);
    font-size: var(--web-h5-font-size);
    font-style: var(--web-h5-font-style);
    font-weight: var(--web-h5-font-weight);
    letter-spacing: var(--web-h5-letter-spacing);
    line-height: var(--web-h5-line-height);
    margin-top: -1px;
    position: relative;
    width: 343px;
}

.rate {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 16px;
    position: relative;
}

.rate_start {
    width: 43px;
    height: 24px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    background: #063A88;
    border-radius: 4px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.rate_num {
    color: white;
    font-size: 12px;
    font-family: 'Inter';
    font-weight: 500;
    word-wrap: break-word;
}

.stock_deliver {

    align-items: flex-start;
    gap: 20px;
    display: inline-flex;
    position: relative;
}

.stock,
.delivery {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 4px;
    position: relative;
}

.stock_txt,
.delivery_txt {
    color: #717171;
    font-size: 12px;
    font-family: 'Inter';
    font-weight: 500;
    word-wrap: break-word;
}



.infoDetails {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 32px;
    position: relative;
}

.info {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 24px;
    position: relative;
}

.infoGN {
    width: 288px;
    height: 32px;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;

}

.infoGroup {
    width: 184px;
    height: 32px;
    padding-left: 8px;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    display: inline-flex;
}

.groupName {
    color: #717171;
    font-size: 14px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word;
}

.infoName {
    height: 32px;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    display: inline-flex;
}

.infoTxt {
    color: #0C0C0C;
    font-size: 14px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word;
}

.buy {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 31px;
    padding: 28px 17px;
    position: relative;
}

.priceSection {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    position: relative;
    width: 264px;
    
}

.price {
    align-items: center;
    display: flex;
    gap: 40px;
    position: relative;
}

.currentPrice {
    color: #0C0C0C;
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word;
}

.discount {
    align-items: center;
    display: inline-flex;
    gap: 2px;
    position: relative;
}

.discountAmount {
    color: #f45e0c;
    font-size: 16px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word;
}

.lastPrice {

    align-items: center;
    gap: 8px;
    display: flex;
    position: relative;

}

.lastPriceTxt {
    color: #717171;
    font-size: 14px;
    font-family: Inter;
    font-weight: 300;
    word-wrap: break-word;
}

.productBtn {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    position: relative;
    width: 264px;
}

.modalCloseBtn {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    color: #D1D1D1;
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 700;
    line-height: 20px;
    
  }

  .reviewArea {
       padding: 20px; /* 적절한 여백 설정 */
    align-items: center;
    gap: 20px; /* 적절한 간격 설정 */
    display: inline-flex;
    position: relative;
    justify-content: center;
   
    overflow: visible;
    
}

h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}

.reviewForm {
    display: flex;
    flex-direction:row;
    gap: 10px;
}

textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; /* 수직 리사이징 허용 */
   
}

.submitReviewBtn {
    width: 150px;
    align-self: flex-end; /* 버튼을 우측으로 정렬 */
}

.reviewList {
    margin-top: 20px;
}

.reviewItem {
    background-color: #f7f7f7;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.reviewItem strong {
    color: #333;
    margin-right: 5px;
}
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
  width: 100%;
  position: relative;
}

.modalCloseBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  padding: 5px 10px; /* 텍스트 주변에 여백을 둡니다. */
  color: black;
 
  background-color: #ccc; /* 배경색 추가 */
  border-radius: 4px;
  z-index: 1;
}

/* 모달 내용에 대한 추가적인 스타일 */
.modalProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
}