.product_upload-all{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.upload_form{
    width: 70%;
}
.upload_img_box{
    
}
.Select-box{
    width: 50%;
    margin-left: 15%;
    
}