.purchasemodal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* 배경에 어둡게 처리 */
}

.purchasemodal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 중앙 정렬 */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.purchaseclose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.purchaseclose:hover,
.purchaseclose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.purchasebutton {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.purchasebutton:hover {
    background-color: #0056b3;
}