.rank_all {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.rank_info{
    display: flex;
    height: 97px;
    padding: 52px 547px 0px 547px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: 0.1px;
}

.rank_title{
    display: flex;
    width: 1437px;
    height: 99px;
    padding: 0px 316px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 55.556% */
    letter-spacing: 0.1px;
}

.rank_pro{
    display: flex;
    width: 1162px;
    height: 918px;
    padding: 0px var(--Medium, 4px) 97px var(--Medium, 4px);
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
    gap: 32px 78px;
    flex-shrink: 0;
    flex-wrap: wrap;
}